@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Inconsolata:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary: #dc143c;
    --secondary: #445263;
    --background: #f4f6f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main-body {
    width: 100%;
    height: 100vh;
    background-color: white;


}

.MenuBar {
    margin: 0 40px;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

}

.category-card {
    margin-top: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #445263;
    font-family: "Gloria Hallelujah", cursive;
    width: 10vw;

    border-radius: 5px;

    padding: 10px;

    box-shadow: 0 1px 10px crimson;
    transition: 0.5s ease;
}

.category-card:hover {

    transform: translateY(-3px);
}

.Items-name {
    font-size: 1.5vw;
    color: white;
    font-weight: 600;
    overflow: hidden;
}