:root {
    --primary: #dc143c;
    /* Crimson */
    --secondary: #445263;
    /* Grey */
    --background: #f4f6f9;
    /* Background */
    --foreground: #222222;
    /* Black */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* ================= CONTAINER ================= */

.food-container {
    padding: 70px;
}

/* ================= GRID ================= */

.food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

/* ================= CARD ================= */

.food-card {
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
    cursor: pointer;
}

.food-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* ================= IMAGE ================= */

.food-image {
    width: 100%;
    height: 180px;
    border-radius: 18px;
    object-fit: cover;
    transition: 0.4s ease;
}

.food-card:hover .food-image {
    transform: scale(1.1);
}

/* ================= CONTENT ================= */

.food-content {
    padding: 16px;
}

.food-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--foreground);
}

.food-rating {
    color: var(--secondary);
    font-size: 14px;
    margin-bottom: 8px;
}

.food-cuisines {
    color: var(--secondary);
    font-size: 14px;
    margin-bottom: 6px;
}

.location-container {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
}

.food-location {
    color: var(--secondary);
    font-size: 13px;
    margin: 0;
}

.location-icon {
    color: var(--primary);
    font-size: 15px;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food-price {
    color: var(--foreground);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
}

.costForTwo {
    padding-top: 5px;
    color: var(--secondary);
    font-size: 12px;
    font-weight: normal;
}

/* ================= BUTTON ================= */

.add-cart-btn {
    width: 100%;
    border: none;
    background: var(--primary);
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-cart-btn:hover {
    background: var(--background);
    color: var(--primary);
    font-weight: 900;
    border-radius: 8px var(--primary);
}